/* General body styles */

body {
    display: grid;
    background-color: black;
    color: #E34234;
}

/* Header styles */

header {
    margin-left: 50px;
}

/* Nav bar styles */

li {
    display: inline;
    list-style-type: none;
}

.navbar-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px 0;
}

.navbar-list a {
    color: #E34234;
    text-decoration: none;
    font-weight: bold;
    font-size: xx-large;
}

/* Fieldset styles */


fieldset div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
    padding: 40px;
}


fieldset {
    text-align: center;
    font-size: x-large;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

fieldset button {
    font-size: large;
    font-weight: bold;
    padding: 10px;
    background-color: #E34234;
}

/* Text Input styles */
input[type="text"] {
    background-color: #E34234;
}

/* Checkbox styles */

.checkbox-div {
    display: grid;
    font-size: x-large;
    padding: 20px;
    text-align: left;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: coral;
}

/* Textarea styles */

textarea {
    background-color: #E34234;
}
