/* General body styles */

body {
    display: grid;
    background-color: black;
    color: #E34234;
}

/* Header styles */

header {
    margin-left: 50px;
}

/* Nav bar styles */

li {
    display: inline;
    list-style-type: none;
}

.navbar-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px 0;
}

.navbar-list a {
    color: #E34234;
    text-decoration: none;
    font-weight: bold;
    font-size: xx-large;
}

/* Main content styles */

.main-content h1 {
    text-align: center;
}

.main-content h2 {
    text-align: center;
}

.main-content img {
    display: flex;
    border: 1px solid #E34234;
    height: 500px;
    width: 600px;
    padding: 30px;
    margin-left: 140px;
    align-self: center;
}

.main-content p {
    display: flex;
    font-size: x-large;
    margin-left: 130px;
    margin-right: 130px;
}
