/* General body styles */

body {
    display: grid;
    background-color: black;
    color: #E34234;
}

/* Header styles */

header {
    margin-left: 50px;
}

/* Nav bar styles */

li {
    display: inline;
    list-style-type: none;
}

.navbar-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px 0;
}

.navbar-list a {
    color: #E34234;
    text-decoration: none;
    font-weight: bold;
    font-size: xx-large;
}

/* Main Content styles */

h1 {
    text-align: left;
}

h2 {
    text-align: center;
}

.main-content li {
    display: grid;
    font-size: x-large;
}

.main-content a {
    text-decoration: none;
    color:#E34234;
    line-height: 1.6;
    text-align: center;
}
